<div class="container">
  <h1>ANGULAR+ASP.NETCORE</h1>
  <div class="card-container">
    <div class="cards-form">
      <div class="form-group">
        <label for="">Card Name</label>
        <input type="text" name="cardName">
      </div>
      <div class="form-group">
        <label for="">Card Number</label>
        <input type="text" name="cardNumber">
      </div>
      <div class="form-group">
        <label for="">Card Number</label>
        <input type="text" name="cardNumber">
      </div>

      <div class="form-group form-group-inline">
        <div class="form-group">
          <label for="">CVC</label>
          <input type="text" name="cvc">
        </div>
        <div class="form-group">
          <label for="">Expiry Month</label>
          <input type="text" name="expiryMonth">
        </div>
        <div class="form-group">
          <label for="">Expiry Year</label>
          <input type="text" name="expiryYear">
        </div>
      </div>
    </div>

    <div class="cards-grid">
      <div class="card-row">
        <div class="card-row-details">
          <span>Ahmed Abd Elsalam</span>
          <span>8596587452</span>
        </div>
        <div class="card-row-action">

        </div>
      </div>
    </div>
  </div>
</div>